{% extends 'base.html.twig' %}

{% block titre %}Panier{% endblock %}

{% block css %}{% endblock %}
{% block contenu %}
<h1>Bienvenue sur la page panier</h1>
{% endblock %}
{% block js %}{% endblock %}