{% extends "base.html.twig" %}

{% block titre %}Détail du circuit {% endblock %}
{% block contenu %}

<div class="container mt-4">
    <div class="row">
<div class="col md-8"></div>
<div class="col md-4">
    <h1>{{circuits.title}}</h1>
    <p>{{circuit.description |nl2br}}</p>
    <div class="text-primary" style="font-size: 4rem;font-weight:bold; ">{{circuit.prix}}</div>
</div>

    </div>
</div>
{% endblock %}