@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: linear-gradient(to left,#ffba08, #B0781A 12%),linear-gradient(142deg, transparent, white),linear-gradient(108deg, yellow, transparent);
	min-height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;

  z-index: 7;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 6px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: wheat;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  float: right ;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
  border-radius: 50px;
}
nav ul li a.active{
  color:red
}
.panier{
  color:wheat
}
nav .menu-btn i{
  color: wheat;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 950px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    z-index: 14;
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
    position: relative;
    z-index: 7;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
main, footer {
  padding: 12px 32px;
}

footer {
  background: #1b1b1b;
  color: white;
  margin-top: auto;
}
/* circuit-card */
.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: gold;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 1rem;
  position: relative;
}
.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: rotate(360);
  transform: scale(1.05);
}


@media screen and (min-width: 480px) {
  #imgCircuit {
    width:2px;
    height: 2px;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
  #imgCircuit {
    display:none;
   width: 5px;
   height: 5px;
  }
}