<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{{path('accueil')}}"></a>
        <img src="" class="logo" alt="">
  <nav>


<div class="container mt-4">
    <div class="row">
<div class="col md-8"></div>
<div class="col md-4">
    <h1>{{circuit.title}}</h1>
    <p>{{circuit.description |nl2br}}</p>
    <div class="text-primary" style="font-size: 4rem;font-weight:bold; ">{{circuit.prix}}</div>
</div>

    </div>
</div>
<ul class="nav_links">
    <li><a href="#">Circuits</a></li>
    <li><a href="#">SignIn/Up</a></li>
    <li><a href="#"></a>Contact</li>
</ul>
</div>
</nav> 
<a class="cta" href=""><button>Contact</button></a>
</header> 
</body>
</html>